<div style="padding-bottom: 150px;">
    <h1>Chat with <span style="color: #EB6864;">{{dest}}</span></h1>
    <p>Let's get the conversation started!</p>
    <br>
    <div class="container">


        <div class="row">
            <section id="chat" style="border: 1px solid black; background-color: white;" name="{{room}}">
                <input type="hidden" id="target" value={{dest}}>
                <ul id="msg-container">
                    {{#each conversation}}
                    <li id="msg-content">
                        <span style="font-weight: bold">{{this.username}}:</span> {{this.message}}
                    </li>
                    {{/each}}
                </ul>
                <form action="" method="post" id="form-chat">
                    <input type="text" id="content" name="content" autocomplete="off" maxlength="580"/><button id="btn-send"
                        class="btn btn-primary">Send</button>
                </form>
            </section>
        </div>
      


    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/notification.js"></script>
<script src="/static/js/chat.js"></script>