<div style="padding-bottom: 150px;">
    <h1>Your best matches <span style="color: #EB6864;">{{currentUser}}</span></h1>
        {{>filterbar}}
    <div class="container">
        <div class="row">

            
            <div class="card-deck">
                {{#each users}}
                <div class="card text-center match-card" style="min-width: 15rem;">
                    <a href="/profile/{{this.username}}" style="text-decoration: none;">
                        <div class="card-header">
                            <h3>{{this.username}}</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-title"><h5>
                                {{this.popularity}}<i class="glyphicon glyphicon-flash" id="i-pop"
                                    style="font-size: 1em; color: #FFBE00;"></i></h5>
                            </div>
                            <img class="matcha-profile" src="{{this.name}}" alt="" width="200" height="200">
                            <p class="card-text"><small class="text-muted">{{this.bio}}</small></p>
                        </div>
                    </a>
                    <div class="card-footer">
                        {{#if like}}
                        <i class="glyphicon glyphicon-heart" id="i-like" style="font-size: 3em; color: red;"></i>
                        {{else}}
                        <i class="glyphicon glyphicon-heart" id="i-like" style="font-size: 3em; color: grey;"></i>
                        {{/if}}
            {{!--Uncomment at bottom to debug--}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/finder.js"></script>
<script type="text/javascript" src="/static/js/notification.js"></script>