<div style="padding-bottom: 150px;">
    <div class="container">

        <h2>History</h2>


        <section id="history">
            <ul id="history-container">
                {{#unless history}}
                <li id="history-row">Nothing at the moment.</li>
                {{/unless}}
                {{#if history}}
                <h3 style="color: grey; text-align: center;">Most recent</h3>
                <br>
                <div style="overflow: auto; text-align: center;">
                    {{/if}}
                    {{#each history}}
                    {{#compare this.eventName '==' 'Like'}}
                    <li id="history-row"><a href="http://localhost:5000/profile/{{this.username}}"><span
                                id="profile-name">{{this.username}}</span></a> has liked your profile!</li>
                    <hr>
                    {{/compare}}
                    {{#compare this.eventName '==' 'LikeBack'}}
                    <li id="history-row"><a href="http://localhost:5000/profile/{{this.username}}"><span
                                id="profile-name">{{this.username}}</span></a> has liked your profile!</li>
                    <hr>
                    {{/compare}}
                    {{#compare this.eventName '==' 'Visit'}}
                    <li id="history-row"><a href="http://localhost:5000/profile/{{this.username}}"><span
                                id="profile-name">{{this.username}}</span></a> has visited your profile!</li>
                    <hr>
                    {{/compare}}
                    {{/each}}
                    {{#if history}}
                </div>
                <h3 style="color: grey; text-align: center;">Oldest</h3>
                <br>
                {{/if}}
            </ul>
        </section>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/notification.js"></script>
<script src="/static/js/socket_online.js"></script>