<div style="padding-bottom: 150px;">
    <h1>Advanced Search</h1>
    {{>searchbar}}

                    <h5>Filter</h5>
                <form method="POST" id="form-sort" name="form-sort" action="/search/sort" style="max-width: 5em;">
                    <select name="sort" id="sort" class="selectpicker" style="visibility: visible">
                        <option value="" disabled selected>Sort by</option>
                        <option value="ageAsc">Age Ascending</option>
                        <option value="ageDesc">Age Descending</option>
                        <option value="popularityHigh">Popularity High</option>
                        <option value="popularityLow">Popularity Low</option>
                        <option value="location">Nearest Location</option>
                        <option value="sameTags">Common tags</option>
                    </select>
                </form>
<br>

    <div class="container">
        <div class="row">

            {{#if empty}}
            <div class="container-fluid empty-result">
                <h2>Sadly, there are no results!</h2><br />
                <p>There are currently no profiles which match your criteria.</p>
                <p>Want to retry with different fields?</p>
            </div>
            {{/if}}

           
            <div class="card-deck">
                 {{#each users}}
                <div class="card text-center match-card" style="min-width: 15rem;">
                    <a href="/profile/{{this.username}}" style="text-decoration: none;">
                        <div class="card-header">
                            <h3>{{this.username}}</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h5>
                                    {{this.popularity}}<i class="glyphicon glyphicon-flash" id="i-pop"
                                        style="font-size: 1em; color: #FFBE00;"></i></h5>
                            </div>
                            <img class="matcha-profile" src="{{this.name}}" alt="" width="200" height="200">
                            <p class="card-text"><small class="text-muted">{{this.bio}}</small></p>
                        </div>
                    </a>
                    <div class="card-footer">
                        {{#if like}}
                        <i class="glyphicon glyphicon-heart" id="i-like" style="font-size: 3em; color: red;"></i>
                        {{else}}
                        <i class="glyphicon glyphicon-heart" id="i-like" style="font-size: 3em; color: grey;"></i>
                        {{/if}}
                        {{!--Uncomment at bottom to debug--}}
                        {{!-- <p>{{this.username}}, {{this.age}}, {{this.gender}}, {{this.sexpref}}, pop: {{this.popularity}}</p>
            <p style="background-color: black; color: white;">{{#each this.tags}} {{this}} - {{/each}}</p>
            <p style="background-color: green; color: white;">{{this.sameTags}} tags in common</p> --}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/finder.js"></script>
<script type="text/javascript" src="/static/js/notification.js"></script>
<script src="/static/js/socket_online.js"></script>