<div style="padding-bottom: 150px;">
  <h1>Welcome to your dashboard <span style="color: #EB6864;">{{data.user.username}}</span></h1>
  <p>In order to find a successful match, we need some more information so that you can meet people who have the same
    interests as you.
    </br>Pro tip: uploading a real picture of you will increase your luck of finding a successful match.</p>
  <br>
  <!--if errors -->
  {{#compare error "!=" undefined}}
  <div class="alert alert-danger">
    <strong>Sorry,</strong> {{ error }}
  </div>
  <br>
  {{/compare }}
  <div class="container">
    <div class="row no-gutters">

      {{!-- COLONNE GAUCHE A PARTIR D'ICI --}}
      <div class="col-sm-4">


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5>Main Picture</h5>

            <div class="row">
              {{!-- <div> --}}
              {{#if data.user.name}}
              <img src="{{data.user.name}}" id="mainPix" class="img-responsive center">
              {{else}}
              <img src="/img/defaut_user.png" class="img-responsive center">
              {{/if}}
              {{!-- </div> --}}
            </div>

            <br>
            <h5>My Photo Gallery</h5>
            <h7>Choose one of your photos as your main profile picture:</h7>
            <br>
            <div name="btn-container" class="row" id="btn-container" style="display: none;">
              <form name="form_main-picture" action="dashboard/setmain" method="post">
                <input type="hidden" name="setmain" id="setmain" value="">
                <input type="submit" id="btn-setmain" style="margin: auto; float: left;" class="btn btn-outline-primary"
                  type="submit" value="Set as profile photo" />
              </form>
              <form name="form_delete" action="dashboard/remove" method="post">
                <input type="hidden" name="hidden" id="hidden" value="">
                <input type="submit" id="btn-delete" style="margin: auto; float: right;" class="btn btn-outline-primary"
                  type="submit" value="Remove" />
              </form>
            </div>


            <div class="control-group">
              <div class="row" style="margin-top: 3em;">
                {{#unless images}}
                <div class="alert alert-warning center"
                  style="text-align: center; height: 10em; font-size: 1.1em; padding-top: 3em;">
                  <strong>Hey!</strong> You don't have any photos.
                </div>
                {{/unless}}
                {{#each images}}
                <div class="container">
                  <a class="thumbnail">
                    <img src="{{ this.name }}" id="img{{this.id}}" name="img{{this.id}}"
                      alt="Generic placeholder thumbnail" class="img-responsive center gallery">
                  </a>
                </div>
                {{/each}}
              </div>
            </div>



            <div>
              <form action="dashboard/gallery" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button id="btn-browse" type="button" class="btn btn-outline-primary">Browse</button>
                    </span>
                    <br>
                    <input type="file" id="files-input-upload" name="file" accept="image/*" style="display:none;">
                    <input type="text" id="file-input-name" disabled="disabled" placeholder="Your File"
                      class="form-control">
                    <input type="submit" id="btn-save" style="display: none;" class="btn btn-primary"
                      value="Set as profil photo" />
                  </div>
                  <img id="img-upload" class="img-responsive" />
                  <span class="input-group-btn">
                    <button id="btn-upload" type="button" class="btn btn-outline-primary" disabled="disabled">Upload to
                      your gallery</button>
                  </span>
                </div>
              </form>
            </div>


            {{!-- les 2 div en dessous sont pour card body --}}
          </div>
        </div>



        {{!-- ne pas toucher en bas c'est le password --}}
        <br>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5>Password Update</h5>
            <p>Fancy having a new password?</p>
            <form action="dashboard/newpass" method="POST" name="form-password" id="form-password">
              <div class="password-form">
                <label for="password">Current Password</label>
                <input id="password" name="password" type="password" placeholder="Current password" class="form-control"
                  value="">
              </div>
              <br>
              <div class="password-form">
                <label for="newpassword">New Password</label>
                <input id="newpassword" name="newpassword" type="password" placeholder="New password"
                  class="form-control" value="">
              </div>
              <br>
              <div class="password-form">
                <label for="newpassword1">Confirm New Password</label>
                <input id="newpassword1" name="newpassword1" type="password" placeholder="Confirm password"
                  class="form-control" value="">
              </div>
              <br>
              <button type="submit" class="btn btn-outline-primary" id="form-password-submit">Update</button>
            </form>
          </div>
        </div>
        {{!-- ce div en bas c'est la fin de colonne gauche --}}
      </div>


      {{!-- COLONNE DROITE A PARTIR D'ICI --}}
      <div class="col-sm-8">

        <form action="dashboard/form" method="POST" name="form-profil" id="form-profil">

          <div class="card">
            <div class="card-body">
              <h5>What is your gender:</h5>
              <select id="gender" name="gender" class="form-control">
                {{#compare data.user.gender "==" 'Man'}}
                <option selected="selected">Man</option>
                <option>Woman</option>
                {{/compare}}
                {{#compare data.user.gender "==" 'Woman'}}
                <option>Man</option>
                <option selected="selected">Woman</option>
                {{/compare}}
              </select>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <h5>Which label describes you best:</h5>
              <select id="sexpref" name="sexpref" class="form-control">

                {{#compare data.user.sexpref "==" 'Heterosexual'}}
                <option selected="selected">Heterosexual</option>
                <option>Homosexual</option>
                <option>Bisexual</option>
                <option>Pansexual</option>
                {{/compare}}
                {{#compare data.user.sexpref "==" 'Homosexual'}}
                <option>Heterosexual</option>
                <option selected="selected">Homosexual</option>
                <option>Bisexual</option>
                <option>Pansexual</option>
                {{/compare}}
                {{#compare data.user.sexpref "==" 'Bisexual'}}
                <option>Heterosexual</option>
                <option>Homosexual</option>
                <option selected="selected">Bisexual</option>
                <option>Pansexual</option>
                {{/compare}}

                {{#compare data.user.sexpref "==" 'Pansexual'}}
                <option>Heterosexual</option>
                <option>Homosexual</option>
                <option>Bisexual</option>
                <option selected="selected">Pansexual</option>
                {{/compare}}

              </select>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5>How old are you:</h5>
              <input type="age" name="age" min="18" max="100" maxlength="3" class="form-control"
                value="{{ data.user.age }}">
              <small id="age" class="form-text text-muted">You have to be legally an adult (minimum
                18)</small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bio</h5>
              <p>Share a short description of yourself.</p>
              <div class="controls">
                <textarea id='bio' name="bio" class="form-control" maxlength="500"
                  rows="3">{{ data.user.bio }}</textarea>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5>Interest Tags</h5>
              <input type="text" name="tags" id="tags" value="" placeholder="Insert your own tag" />
              <button type="submit" class="btn btn-outline-primary" id="btn-addTag" name="btn-addTag">Add</button>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="allTags" name="allTags">
                {{#each userTags}}
                {{#each this}}
                <span class="tag">{{this}}</span>
                {{/each}}
                {{/each}}
              </div>
              <div id="tagsAvail-container">
                <p>Or pick one of these tags:</p>
                {{#each tags}}
                {{#each this}}
                <span class="tagAvailable">{{this.name}}</span>
                {{/each}}
                {{/each}}
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <h5>Personal Info</h5>
              <div class="form-group row">
                <label for="first_name" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                  <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control"
                    value="{{ data.user.firstName }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control"
                    value="{{ data.user.lastName }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input id="username" name="username" type="text" placeholder="Username" class="form-control"
                    value="{{ data.user.username }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input id="email" name="email" type="email" placeholder="you@example.com" class="form-control"
                    value="{{ data.user.email }}">
                </div>
              </div>
              {{!-- <button type="submit" class="btn btn-primary" id="form-submit">Submit</button> --}}
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5>Allow Matcha to access your location</h5>
              {{!-- <button onclick="getLocation()" class="btn btn-outline-primary">Turn on Location</button> --}}

              {{!--            //geoloca --}}
              <div name="geoloc" for="geoloc" id="infoposition" value="{{data.user.geoloc}}"></div>
              <input name="adress" id="pac-input" class="form-control" type="text" placeholder="Enter a location">

              <input name="geoloc" type="hidden" id="geolo" name="content" value="">
              {{!--              // par adress --}}
              <div name="position" for="position" id="AddressLocation" value=""></div>
              <input name="position" type="hidden" id="position" name="content" value="{{data.user.position}}">
              <br>
    

              <button type="submit" class="btn btn-primary" id="form-submit">Update Profile</button>
            </div>
          </div>
        </form>

{{!-- le div en bas c'est la fin de la colonne droite --}}
      </div>

    </div>
</div>
</div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/static/js/notification.js"></script>
  <script src="/static/js/socket_online.js"></script>
 {{!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoevlYpAgQSQCvqhkRS9IiCfNrhhUrF6k&libraries=places&callback=initAutocomplete"
    async defer></script> --}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoevlYpAgQSQCvqhkRS9IiCfNrhhUrF6k&v=3.exp&libraries=places"></script>
  <script type="text/javascript" src="/static/js/geolo.js"></script>
  <script type="text/javascript" src="/static/js/dashboard.js"></script>
  <script type="text/javascript" src="/static/js/uploadImage.js"></script>
  <script type="text/javascript" src="/static/js/tag.js"></script>
  {{!-- //     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuvd4r1CiGSppCqG0vXUWQJjywg-hyeu8&callback=initMap" type="text/javascript"></script> --}}