<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/finder" style="color:#EB6864;font-size: 1.3em"><i
      class="glyphicon glyphicon-fire"></i>Matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/users/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/finder"><i class="glyphicon glyphicon-heart" style="color:#EB6864;"></i>Finder</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>

      {{!-- <li class="nav-item">
        <a class="nav-link" href="/users/map">Map</a>
      </li> --}}

      {{!-- <li class="nav-item">
        <a class="nav-link" href="/users/chat">Chat</a>
      </li> --}}

      <li class="nav-item">
        <a class="nav-link" href="/users/history">History</a>
      </li>

        <li class="dropdown">
          <a href="#" class="matcha-notif" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Notifications<span class="caret"></span></a>
          <ul class="dropdown-menu" id="notifications">
            <span id="currentUser" style="display: none;">{{currentUser}}</span>
            <div id="notification-container">
              {{#if notification}}
              {{#each notification}}
              {{#compare this.eventName '==' 'Like'}}
              <li id="notification"><a href="http://localhost:5000/profile/{{this.username}}"><span
                    id="profile-name">{{this.username}}</span></a> has liked your profile!</li>
              {{/compare}}
              {{#compare this.eventName '==' 'LikeBack'}}
              <li id="notification"><a href="http://localhost:5000/profile/{{this.username}}"><span
                    id="profile-name">{{this.username}}</span></a> liked you back! <p>You are now connected!</p>
              </li>
              {{/compare}}
              {{#compare this.eventName '==' 'Unlike'}}
              <li id="notification"><a href="http://localhost:5000/profile/{{this.username}}"><span
                    id="profile-name">{{this.username}}</span></a> doesn't like you anymore...</li>
              {{/compare}}
              {{#compare this.eventName '==' 'Visit'}}
              <li id="notification"><a href="http://localhost:5000/profile/{{this.username}}"><span
                    id="profile-name">{{this.username}}</span></a> has visited your profile!</li>
              {{/compare}}
              {{#compare this.eventName '==' 'Message'}}
              <li id="notification"><a href="http://localhost:5000/profile/{{this.username}}"><span
                    id="profile-name">{{this.username}}</span></a> sent you a private message!</li>
              {{/compare}}
              <span style="display:none;">{{this.id}}</span>
              <span style="display:none;">{{this.status}}</span>
              {{/each}}
              {{else}}
              <li id="notification">You don't have notifications</li>
              <li role="separator" class="divider"></li>
              <span style="display:none;">1</span>
              {{/if}}
            </div>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/logout"><i class="glyphicon glyphicon-log-out"></i>Log Out</a>
        </li>

      </ul>
  </div>
</nav>